<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBG0pZOuRJY1jYa3M1yCl1oA8hAZtGf7cQ</string>
	<key>OPENROUTER_API_KEY</key>
	<string>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</string>
	<key>MODEL_NAME</key>
	<string>google/gemma-3-27b-it:free</string>
</dict>
</plist>
