<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>CalCal needs camera access to identify food from photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>CalCal needs photo library access to allow you to pick food photos from your gallery.</string>
</dict>
</plist>